<p id="notice"><%= notice %></p>
<h1>Contacts</h1>
<tbody>
  <div class="list-group">
    <% @contacts.each do |contact| %>
      <%= link_to contact.name, contact, class:'list-group-item list-group-item-action list-group-item-active' %>
    <% end %>
  </div>
</tbody>
<br>
<%= link_to 'New Contact', new_contact_path %>
